.button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color:  rgba(0, 128, 128, 0.7);;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fafafa;
    font-size: 20px;
}

.button:hover {
    background-color: rgba(0, 128, 128);
}